html {
	overflow-y: hidden;
	overflow-x: hidden;

}

.container{
	background: #28B1CA;
	width: 2000px;
	height: 2000px;
	margin-top: -10px;
	margin-left: -10px;
	
}


#pic5{
	position: absolute;
	margin-top: -290px;
	margin-left: -20px;
	opacity: .5;
	
	
}

#picsmall{
	position: absolute;
	margin-top: 280px;
	margin-left: 20px;
	

}

#robo{
position: absolute;
	margin-left: 850px;
	margin-top: -1900px;
	font-size: 30px;
	color: white;
	font-family: 'Bungee Inline', cursive;


}

#par{
position: absolute;
	margin-left: 850px;
	margin-top: -1800px;
	font-size: 20px;
	color: white;
	font-family: Helvetica;


}

#love{
	margin-top: 300px;
	margin-left: 650px;
	position: absolute;
	font-size: 200px;
	opacity: 0;
}


font-family: 'Roboto', sans-serif;