html {
	overflow-y: hidden;
	overflow-x: hidden;

}

.container{
	background: #28B1CA;
	width: 2000px;
	height: 2000px;
	margin-top: -10px;
	margin-left: -10px;
	
}

#pic2{
	position: absolute;
	margin-top: 10px;
	margin-left: 450px;
}


#robo{
position: absolute;
	margin-left: 100px;
	margin-top: 330px;
	font-size: 30px;
	color: white;
	font-family: 'Bungee Inline', cursive;


}

#par{
position: absolute;
	margin-left: 340px;
	margin-top: 430px;
	font-size: 20px;
	color: white;
	font-family: Helvetica;


}

#love{
	margin-top: -260px;
	margin-left: 200px;
	position: absolute;
	font-size: 240px;
	opacity: 0;
}


font-family: 'Roboto', sans-serif;