
#c1{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #28B1CA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-left: 695px;
	margin-top: 450px;
}

#c2{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #28B1CA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-left: 695px;
	margin-top: 310px;
}

#c3{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #28B1CA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-left: 630px;
	margin-top: 380px;
}

#c4{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #28B1CA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-left: 760px;
	margin-top: 380px;
}

#c5{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #28B1CA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-left: 650px;
	margin-top: 335px;
}

#c6{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #28B1CA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-left: 740px;
	margin-top: 425px;
}

#c7{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #28B1CA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-left: 740px;
	margin-top: 335px;
}

#c8{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #28B1CA;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-left: 650px;
	margin-top: 425px;
}